.html {
    background-color: #fffbee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .html .quiz-html {
    background-color: #fffbee;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .html .text-wrapper {
    position: absolute;
    top: 246px;
    left: 491px;
    font-family: "Pretendard Variable-Medium", Helvetica;
    font-weight: 500;
    color: #040605;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .html .frame {
    display: flex;
    flex-direction: column;
    width: 458px;
    align-items: flex-start;
    gap: 81px;
    position: absolute;
    top: 366px;
    left: 491px;
  }
  
  .html .group {
    position: relative;
    width: 383px;
    height: 72px;
  }
  
  .html .overlap-group {
    position: absolute;
    width: 78px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #fdfdfd;
    border-radius: 39px / 36px;
    box-shadow: 3px 3px 10px 1px #0000001a;
  }
  
  .html .div {
    top: 20px;
    left: 35px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #4a4a4a;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .html .text-wrapper-2 {
    top: 20px;
    left: 118px;
    font-family: "Pretendard Variable-Regular", Helvetica;
    color: #4a4a4a;
    font-size: 27px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .html .overlap {
    position: absolute;
    width: 78px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #fffefe;
    border-radius: 39px / 36px;
    box-shadow: 3px 3px 10px 1px #0000001a;
  }
  
  .html .text-wrapper-3 {
    top: 19px;
    left: 118px;
    font-family: "Pretendard Variable-Regular", Helvetica;
    color: #4a4a4a;
    font-size: 27px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .html .group-2 {
    position: relative;
    width: 436px;
    height: 72px;
  }
  
  .html .text-wrapper-4 {
    top: 19px;
    left: 32px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #4a4a4a;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .html .AUTO {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 10px;
    position: absolute;
    top: 33px;
    left: 656px;
  }
  
  .html .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -2.00px;
    margin-left: -1.00px;
    -webkit-text-stroke: 1px #cccccccc;
    font-family: "Pretendard Variable-Medium", Helvetica;
    font-weight: 500;
    color: #4a4a4a;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .html .home {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 36px;
    left: 65px;
  }
  
  .html .text-wrapper-6 {
    top: 74px;
    left: 1175px;
    font-family: "Inter-Regular", Helvetica;
    color: #4a4a4a;
    font-size: 27px;
    text-align: center;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .html .text-wrapper-7 {
    top: 45px;
    left: 1221px;
    font-family: "Inter-Regular", Helvetica;
    color: #ffd12c;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .html .group-3 {
    position: absolute;
    width: 152px;
    height: 100px;
    top: 895px;
    left: 1228px;
  }
  
  .html .text-wrapper-8 {
    top: 33px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    color: #4a4a4a;
    font-size: 27px;
    text-align: right;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .html .ri-arrow-up-fill {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 50px;
  }

  .overlap-group :hover .div{
    color: #ffd12c;
  }

  .overlap-group:hover .div {
    color: #ffd12c;
}

.overlap:hover .div {
  color: #ffd12c;
}

  
  .html .material-symbols-wrapper {
    position: absolute;
    width: 83px;
    height: 83px;
    top: 35px;
    left: 1276px;
    background-color: #d9d9d9;
    border-radius: 41.5px;
  }
  
  .html .material-symbols {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 12px;
    left: 14px;
  }
  
  