a:link { 
    text-decoration: none; 
  }

body{
    background-color: #fffbee;
    margin: 0;
    padding: 0;
}
.frame {
    background-color: #fffbee;
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    width: 1024px; /* 너비 설정 */
    height: 768px; /* 높이 설정 */
    position: relative; /* 자식 요소에 대한 기준 설정 */
    margin: auto; /* 중앙 정렬을 위해 자동 마진 설정 */
}

.frame .div {
    background-color: #fffbee;
    width: 1024px; /* 너비 */
    height: 768px; /* 높이 */
}

.frame .AUTO {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 30px;
    left: 400px;
    width: 300px; /* 간격 설정 */
}

.frame .text-wrapper,
.frame .text-wrapper-2 {
    font-family: "Pretendard Variable-Medium", Helvetica;
    font-weight: 500;
    font-size: 24px;
    color: #121212;
}

.frame .group {
    position: absolute;
    top: 30px;
    left: 850px;
}

.frame .text-wrapper-3 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
}

.frame .text-wrapper-4 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    color: #ffd12c;
    text-align: center;
}

.frame .home {
    position: absolute;
    top: 0;
    left: 10px;
    width: 50px;
    height: auto;
    padding: 10px;
}

.frame .overlap-group {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 24px;
    left: 900px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.frame .material-symbols {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
}

.frame .default-character {
    position: absolute;
    width: 80px;
    height: 70px;
    top: 250px;
    left: 270px;
}

.frame .text-wrapper-5 {
    all: unset;
    position: absolute;
    top: 270px;
    left: 360px;
    font-family: "Pretendard Variable-Medium", Helvetica;
    font-weight: 500;
    font-size: 36px;
    color: #040605;
    text-decoration-line: none;
}



.frame .div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 350px;
    left: 200px;
}

.frame .frame-wrapper,
.frame .frame-wrapper-2 {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

.frame .text-wrapper-6,
.frame .text-wrapper-7,
.frame .text-wrapper-8 {
    font-family: "Pretendard Variable-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    color: #4a4a4a;
    text-align: center;
}

.text-wrapper-8{
    margin-left: 22px;
}

.frame .group-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 400px;
    left: 450px;
}

nav {
    background-color: #fffbee;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #121212;
}

.home-icon {
    position: absolute;
    top: 0;
    left: 10px;
    width: 50px;
    height: auto;
    padding: 10px;
}

.person-icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
    height: auto;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}
nav ul li {
    margin: 0 20px;
    font-weight: 10000;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color:#121212;
    font-weight: bold;
}

.role {
    position: absolute;
    top: 0;
    right: 40px;
    width: 50px;
    height: auto;
    font-size: small;
    padding: 10px;
    color: #F5E18A;
}

.name {
    position: absolute;
    top: 0;
    right: 70px;
    width: 50px;
    height: auto;
    margin-top: 30px;
    padding: 0px;
    color: #121212;
}
